@page
@model eKIBRA.Web.Pages.FlashcardPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<partial name="_ValidationAuthenticationCheckPartial" />

<h4>Flashcard Edit</h4>

<partial name="_ValidationStatusMessagePartial" for="StatusMessage" />

@{ if (string.IsNullOrWhiteSpace(Model.Input?.Id)) return; }

<p>
    <a asp-page="./Create">Create New</a> |
    <a asp-page="./Details" asp-route-id="@Model.Input.Id">Details</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Input.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-floating mb-3">
                <input asp-for="Input.DeckTitle" class="form-control" autocomplete="off" placeholder=""/>
                <label asp-for="Input.DeckTitle"></label>
                <select multiple asp-for="Input.DeckTitle" class="form-select h-auto"
                        style="display: none;" placeholder=""></select>
                <input asp-for="Input.DeckId" type="hidden" />
                <span asp-validation-for="Input.DeckTitle" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Question" class="form-control" placeholder="" ></textarea>
                <label asp-for="Input.Question" class="control-label"></label>
                <span asp-validation-for="Input.Question" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Anwser" class="form-control" placeholder=""></textarea>
                <label asp-for="Input.Anwser" class="control-label"></label>
                <span asp-validation-for="Input.Anwser" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.IncorrectOne" class="form-control" placeholder=""></textarea>
                <label asp-for="Input.IncorrectOne" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.IncorrectTwo" class="form-control" placeholder=""></textarea>
                <label asp-for="Input.IncorrectTwo" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.IncorrectThree" class="form-control" placeholder=""></textarea>
                <label asp-for="Input.IncorrectThree" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.IncorrectFour" class="form-control" placeholder=""></textarea>
                <label asp-for="Input.IncorrectFour" class="control-label"></label>
            </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Created" class="form-control" autocomplete="off" placeholder="" 
                           value="@Model.Input.Created.ToString("yyyy-MM-ddTHH:mm")" readonly />
                    <label asp-for="Input.Created"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Modified" class="form-control" autocomplete="off" placeholder="" 
                           value="@Model.Input.Modified?.ToString("yyyy-MM-ddTHH:mm")" readonly />
                    <label asp-for="Input.Modified"></label>
                </div>
         
            <button id="save-book-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        eKIBRA.addAutoCompleteEvents({ 
            inputAspFor: "Input.DeckTitle", inputAspForHiddenId: "Input.DeckId", handlerName: "SearchDeck" });
    </script>
}
