@model string

@if (!string.IsNullOrEmpty(Model))
{
    var statusMessageClass = "secondary";
    var statusMessage = Model;
    const string success = nameof(MessageType.Success);
    const string info = nameof(MessageType.Info);
    const string warning = nameof(MessageType.Warning);
    const string error = nameof(MessageType.Error);

    if (Model.StartsWith(success))
    {
        statusMessageClass = success.ToLower();
        statusMessage = Model[success.Length..];
    }
    if (Model.StartsWith(info))
    {
        statusMessageClass = info.ToLower();
        statusMessage = Model[info.Length..];
    }
    if (Model.StartsWith(warning))
    {
        statusMessageClass = warning.ToLower();
        statusMessage = Model[warning.Length..];
    }
    if (Model.StartsWith(error))
    {
        statusMessageClass = "danger";
        statusMessage = Model[error.Length..];
    }
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @statusMessage
    </div>
}
